<%if user_signed_in? && current_user == @snippet.user%>
  <%if @snippet.live?%>
    <%=link_to "Edit", edit_snippet_path(@snippet)%>
  <%else%>
    <%=link_to "Go to current", snippet_path(@snippet)%>
  <%end%>
<%end%>
<%@sections.each do |s|%>
  <%unless s[:title].nil?%>
    <h2><%=s[:title]%></h2>
  <%end%>
 <pre>
 <%= highlight_code(s[:language], s[:content]).html_safe %>
 </pre>
<%end%>
<%content_for :sidebar do%>
  <h3>Versions</h3>
  <%= form_tag(compare_snippet_versions_path(@snippet), :method=> "get") do%>
    <ol id="versions">
      
      <li class="latest version <%=diff_class(@versions.first.id)%>">
          <label>
            <%=check_box_tag "versions[]", @versions.first.id, diff_member?(@versions.first.id), :class=>"version-box"%>
            current
            <%=link_to "View", snippet_version_path(@snippet, @versions.first) %>
          </label>
        </li>
      <%@versions[1..-1].reverse.each do |v|%>  
        <li class="version <%=diff_class(v.id)%>">
        <label>
            <%=check_box_tag "versions[]", v.id, diff_member?(v.id), :class=>"version-box"%>
            from <%=time_ago_in_words v.created_at%> ago
            <%=link_to "View", snippet_version_path(@snippet, v) %>
          </label>
        </li>
      <%end%>
    </ol>
    <%=submit_tag :compare%>
  <%end%>
<%end%>
