<%if user_signed_in? && current_user == @snippet.user%>
  <%=link_to "Edit", edit_snippet_path(@snippet)%>
<%end%>
<%@sections.each do |s|%>
  <%unless s[:title].nil?%>
    <h2><%=s[:title]%></h2>
  <%end%>
 <pre>
 <%= highlight_code(s[:language], s[:content]).html_safe %>
 </pre>
<%end%>

<%content_for :sidebar do%>
  <h3>Versions</h3>
  <%= form_tag(compare_snippet_versions_path(@snippet), :method=> "get") do%>
    <ol id="versions">
      <%@versions.each do |v|%>  
        <li class="version">
          <label>
            <%=check_box_tag "version[]", v.id, false, :class=>"version-box"%>
            from <%=time_ago_in_words v.created_at%> ago
          </label>
        </li>
      <%end%>
    </ol>
  <%end%>
<%end%>
