<!DOCTYPE html>
<html>
<head>
  <title>Paste.it</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/warehouse/style", "web-app-theme/override", :cache => true %>
  <%= formtastic_stylesheet_link_tag  %>
  <%=stylesheet_link_tag "highlight"%>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Paste.it</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%=link_to "All snippets", snippets_path%>
          <%if user_signed_in?%>
            <li><%=link_to "My snippets", user_snippets_path(current_user)%></li>
            <li style="color: white;">Logged in as <%=current_user.username%></li>
            <li><%=link_to "Logout", destroy_user_session_path, :class=>"logout"%></li>
          <%else%>
            <li><%=link_to "Login", new_user_session_path%></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <%end%>  
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">

          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
